/* Setzt HTML und Body auf 100% Höhe */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Zentrierter Wrapper für alle Seiten */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

/* Logo-Bild */
img {
    width: 100%;
    height: auto;
    max-width: 1003px;
    max-height: 590px;
}

/* Kalender-Icon oben rechts */
.menu {
    position: absolute;
    top: 20px;
    right: 30px;
}

.menu i {
    font-size: 24px;
    color: black;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* Stile für die Menü-Bar oben */
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-bar .home-button {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-bar .home-button i {
    margin-right: 8px;
}

/* Stile für Überschriften */
h1, h2 {
    font-weight: 600;
    color: #333;
    text-align: center;
}

/* Allgemeine Typografie */
p, li {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    color: #4d4d4d;
}

/* Stile für Links */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Impressum und Datenschutz Box */
.section {
    max-width: 800px;
    padding: 40px;
    margin: 50px auto;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #868686;
    font-size: 14px;
    letter-spacing: 0.05em;
}

footer a:hover {
    text-decoration: none
}